.contact_form_container{
    width: 100vw;
    display: flex;
}

.contact_form_container form {
    width: 80%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border:  1px solid black;
    background: transparent;
    font-size: 15px;
    resize:none;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    transition: 0.2s;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 14px;

}

textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}



/*form.contact_form input {
    padding: 10px;
    outline: 0;
    border: 1px solid;
    font-size: 20px;
}

form.contact_form textarea {
    width: 60%;
    padding: 20px;
    outline: 0;
    border: 1px solid;
    font-size: 20px;
    resize:none;
}*/