.contact_form_container{
    width: 100vw;
    display: flex;
}

.contact_form_container form {
    width: 80%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 20px;
    outline: 0;
    border:  1px solid white;
    background: transparent;
    font-size: 15px;
    resize:none;
}

label{
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 20px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    transition: 0.2s;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 18px;

}

textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 18px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}



@media screen and (max-width: 650px){
    .row{
        display: block;
     
    }


   
}