.app__header{
    background-color: var(--color-black);
    background-image: url('../images/background_4.jpg');
    background-size: cover; 
}


.app__header-h1{
    /*font-family: var(--font-base);*/
    font-family: 'Varela Round', sans-serif;
    color: var(--color-black);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 8vw;
    font-size: 6vw;
    word-wrap: break-word;
}

.app__header-img img{
    width: 80%;
}