.app__header{
    background-color: var(--color-black);
    background-image: url('../images/background_4.jpg');
    background-size: cover; 
}


.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-black);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 10vw;
    font-size: 8vw;
    word-wrap: break-word;
}

.app__header-img img{
    width: 80%;
}